.container
  %h1.page-header About The Help Bank
  
  %hr
  %h2.sub-header FAQ
  .row
    %b.col-md-3 How does it work?
    .col-md-9
      It's like Kickstarter, but for time instead of money ... and the time you put in is later paid back to you by others.
      %p
  .row
    .col-md-9.col-md-offset-3
      Join a community, find a project, and pledge your time to it. When you do the work, it's like putting your time into a bank;
      later, you can get community members to work on your own projects.
      %p

  %hr
  .row
    %b.col-md-3 So what all can I do here?
    .col-md-9
      It's pretty simple:
      %ul
        %li Sign up/in
        %li Join a community
        %li Pledge your time to a project
        %li If there's an official assembly to work on the project at a particular time / place, check in there / then
        %li Otherwise, just put in your hours on your own time
        %li Have your work approved and rated by the project admin(s)
        %li Rate the people you work with, if any, from one to five stars
        %li Collect stars for every hour you work
        %li Create your own projects, and use your stash of stars to pay back people who work on them

      If you want, you can create your own community, invite people to it, create projects, and be an admin, too!
      %p

  %hr
  .row
    %b.col-md-3 Can you give me an example?
    .col-md-9
      Sure! Consider Alice. She's really into bowling, so she creates the Excellent Bowling Community; invites Barry and Zika to join; launches the
      Polish The Gutters project, to improve the local hall; and pledges two hours of her own time.
      %p
    .col-md-9.col-md-offset-3
      Barry and Zika accept the invitations and each pledges two hours too. They hash out the details on the project's discussion page. After the work
      is done, everyone rates everyone else's work as four-star. Barry and Zika now each have eight stars -- four stars for each hour.
      %p
    .col-md-9.col-md-offset-3
      A month later, when Barry is moving, he creates his own personal project "Help Barry Move!" Alice and Zika pledge to help, and Barry uses his
      stash of stars to repay them for doing so.
 
  %hr
  .row
    %b.col-md-3 Is this a startup?
    .col-md-9
      Nope. It'd be a pretty bad one; there's no money in pledging time! This is purely a labor of love / an attempt to provide a useful tool to people.
      In fact, The Help Bank is itself a Help Bank community (how meta!) and this web site is one of its projects, built purely by unpaid volunteer contributors.


  %hr
  .row
    .col-md-9.col-md-offset-3
      %p
